openapi: 3.0.1
info:
  title: TwitterAPI.io - User Info Subset
  description: Subset of TwitterAPI.io for user info endpoint only
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://api.twitterapi.io
security:
  - ApiKeyAuth: []
paths:
  /twitter/user/info:
    get:
      operationId: getUserInfo
      description: Get user info by screen name
      parameters:
        - name: userName
          in: query
          description: The screen name of the user
          schema:
            type: string
            format: string
      responses:
        "200":
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [user]
                      userName:
                        type: string
                        description: The username of the Twitter user
                      url:
                        type: string
                        description: The x.com URL of the user's profile
                      id:
                        type: string
                        description: The unique identifier of the user
                      name:
                        type: string
                        description: The display name of the user
                      isBlueVerified:
                        type: boolean
                        description: Whether the user has Twitter Blue verification
                      verifiedType:
                        type: string
                        description: The type of verification. eg. "government" ,can be empty
                      profilePicture:
                        type: string
                        description: URL of the user's profile picture
                      coverPicture:
                        type: string
                        description: URL of the user's cover picture
                      description:
                        type: string
                        description: The user's profile description
                      location:
                        type: string
                        description: "The user's location.for example: 東京の端っこ . may be empty"
                      followers:
                        type: integer
                        description: Number of followers
                      following:
                        type: integer
                        description: Number of accounts following
                      canDm:
                        type: boolean
                        description: Whether the user can receive DMs
                      createdAt:
                        type: string
                        description: "When the account was created.for example: Thu Dec 13 08:41:26 +0000 2007"
                      favouritesCount:
                        type: integer
                        description: Number of favorites
                      hasCustomTimelines:
                        type: boolean
                        description: Whether the user has custom timelines
                      isTranslator:
                        type: boolean
                        description: Whether the user is a translator
                      mediaCount:
                        type: integer
                        description: Number of media posts
                      statusesCount:
                        type: integer
                        description: Number of status updates
                      withheldInCountries:
                        type: array
                        items:
                          type: string
                        description: Countries where the account is withheld
                      affiliatesHighlightedLabel:
                        type: object
                      possiblySensitive:
                        type: boolean
                        description: Whether the account may contain sensitive content
                      pinnedTweetIds:
                        type: array
                        items:
                          type: string
                        description: IDs of pinned tweets
                      isAutomated:
                        type: boolean
                        description: Whether the account is automated
                      automatedBy:
                        type: string
                        description: The account that automated the account
                      unavailable:
                        type: boolean
                        description: Whether the account is unavailable
                      message:
                        type: string
                        description: The message of the account.eg. "This account is unavailable" or "This account is suspended"
                      unavailableReason:
                        type: string
                        description: 'The reason the account is unavailable.eg. "suspended"'
                      profile_bio:
                        type: object
                        properties:
                          description:
                            type: string
                          entities:
                            type: object
                            properties:
                              description:
                                type: object
                                properties:
                                  urls:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        display_url:
                                          type: string
                                        expanded_url:
                                          type: string
                                        indices:
                                          type: array
                                          items:
                                            type: integer
                                        url:
                                          type: string
                              url:
                                type: object
                                properties:
                                  urls:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        display_url:
                                          type: string
                                        expanded_url:
                                          type: string
                                        indices:
                                          type: array
                                          items:
                                            type: integer
                                        url:
                                          type: string
                  status:
                    type: string
                    description: Status of the request.success or error
                    enum: [success, error]
                  msg:
                    type: string
                    description: Message of the request.error message
        "400":
          description: Unexpected error
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: integer
                    format: int32
                  message:
                    type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
